*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Cuprum', sans-serif;
}

#siteWrapper{ /*jank wrapper to enable "overflow-x: hidden;" on mobile*/ 
    position: relative;
}

#expression{
    width: 100vw;
    height: 20vh;
    line-height: calc(20vh - 32px);
    text-align: right;
    padding: 16px;
    font-size: 80px;
    border: none;
}

.readonly:focus {
    outline: none;
    border: none;
    cursor: default;
}

#displayResult{
    width: 100vw;
    height: 15vh;
    line-height: calc(15vh - 32px);
    text-align: right;
    padding: 16px;
    font-size: 60px;
}

button{
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#numbers{
    background-color: #1e1e1e;
    width: 67.5vw;
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
    float: left;
}

.number{
    color: #8e8f91;
    font-size: 30px;
    width: 22.5vw;
    height: 16.25vh;
}

#operators{
    background-color: #252526;
    width: 22.5vw;
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
}

.operator{
    width: 22.5vw;
    height: 13vh;
    color: #8e8f91;
    font-size: 30px;
}

#advancedOperators{
    width: 100vw;
    height: 65vh;
    background-color: #027acc;
    position: absolute;
    top: 35vh;
    left: 90vw;
    display: flex;
    flex-wrap: wrap;
}

.advancedOperator{
    width: 25vw;
    height: 13vh;
    font-size: 30px;
}
