*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    border: 0;
}

.hidden{
    position: absolute;
    left: -20000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#container{
    width: 100vw;
    height: 100vh;
    background: #1e1e1e;
}

#controls{
    width: 25vw;
    height: 100%;
    background: #252526;
}

header{
    color: #027acc;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-top: 1em;
}

#graphInput{
    display: block;
    width: 10vw;
    height: 5vh;
    margin: 10vh auto 0 auto;
    padding: 5px;
    border-bottom: #027acc 3px solid;
    background: #252526;
    color: #b4b4b4;
    text-indent: calc((5vh - 1em - 16px) / 2);
}

#graphInput:focus{
    border: #027acc 3px solid;
    border-radius: 3px;
}

button{ /*reset*/
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#warning{
    width: 5vh;
    height: 5vh;
    position: relative;
    top: -5vh;
    left: 17.5vw;
    overflow: hidden;
    display: none;
}

#warning > div{
    position: relative;
    background: red;
    width: 10%;
    height: 70%;
    left: 50%;
}

#warning > [a]{
    transform: rotate(45deg);
}

#warning > [b]{
    top: -70%;
    transform: rotate(-45deg);
}

#slider{
    z-index: 1;
    position: absolute;
    width: 1vw;
    height: 100vh;
    top: 0;
    left: 24.5vw;
}

#slider:hover{
    cursor: ew-resize;
}
