:root{
    --darkBody: #202124; /* #6caec9 */
    --darkContainer: #262729; /* #ffffff */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--darkBody);
    overflow-x: hidden;
}

#nav{
    background-color: var(--darkContainer);
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 900px;
    height: 10vh;
    min-height: 60px;
    max-height: 5em;
    transition: background-color 0.3s;
    z-index: 1;
    display: flex;
}

#pico2019{
    color: #dbdbdb;
    font-size: 1.5em;
    margin-left: 1em;
    vertical-align: middle;
}

#picoLogo{
    height: 100%;
    width: 60px;
    background-image: url(pico.png);
    background-size: 60px;
    background-repeat: no-repeat;
    position: relative;
    top: 50%;
    left: 1em;
    margin-top: -30px;
}

#container{
    background-color: var(--darkContainer);
    margin-right: auto;
    margin-left: auto;
    width: 100vw;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#startImage{
    width: 900px;
    background-image: url(hackerman.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.challenges{
    width: 100%;
    background-color: var(--darkContainer);
    padding: 1em;
    color: #dbdbdb;
}

h1{
    font-weight: normal;
    margin-bottom: 1em;
}

.description > p{
    background-color: #464646;
    margin: 5px;
    padding: 1em;
    word-wrap: break-word;
}

.imgs{
    width: 100%;
    max-width: 600px;
    height: 100vh;
    max-height: 800px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 10px auto 0 auto;
}

#imgAsm1{
    background-image: url(asm1.png);
}
