:root{
    --darkBody: #202124; /* #6caec9 */
    --darkContainer: #262729; /* #ffffff */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--darkBody);
    overflow-x: hidden;
}

#nav{
    background-color: var(--darkContainer);
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 900px;
    height: 10vh;
    min-height: 60px;
    max-height: 5em;
    transition: background-color 0.3s;
    z-index: 1;
}

#pico2019{
    color: #dbdbdb;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin-left: 1em;
    vertical-align: middle;
}

#container{
    background-color: var(--darkContainer);
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 900px;
    height: 200vh;
}

#startImage{
    width: 900px;
    height: 10vh;
    background-image: url(hackerman.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 56.25%
}
