*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.hidden{
    position: absolute;
    left: -20000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#sidePanel{
    position: absolute;
    background: url(coffee.jpeg);
    width: 47vw;
    height: 100vh;
    background-size: calc(100vw - 17px) 100vh;
    border-right: 10px solid #f900ffbd;
}

#sidePanel > p{
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 1.8em;
}

/*
*This is pretty very nice, hmmmm
*Maybe I should investigate what it actually does
*Nah
*Still maybe
*It be nice though
*/
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#btnSlider{
    position: absolute;
    top: 80%;
    left: calc(47vw - 3em - 5px);
    border-radius: 100%;
    width: 6em;
    height: 6em;
    background: #bc00c0;
    cursor: grab;
}

#btnSlider:active{
    cursor: grabbing;
}

#backdrop{
    width: 100vw;
    height: 100vh;
    background: url(coffee.jpeg), #f900ffbd;
    background-repeat: no-repeat;
    background-size: calc(100vw - 17px) 100vh;
    background-blend-mode: darken;
}

#sites{
    background-color: #ffdf1c;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    padding: 10vw;
}

.site{
    height: 15vh;
    width: 20vw;
    background-color: #8fc93a;
    color: white;
    text-align: center;
    line-height: 15vh;
    vertical-align: middle;
    margin: 1em;
    flex: auto;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 600px){
    #sidePanel{
        position: initial;
        width: 100%;
    }

    #btnSlider{
        display: none;
    }
    
    #backdrop{
        display: none;
    }
}
