*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.hidden{
    position: absolute;
    left: -20000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#sidePanel{
    position: absolute;
    background: linear-gradient(to bottom,#000,#ffdf1c);
    width: 30vw;
    height: 100vh;
    padding: 42vh 5em 0 5em;
}

#sidePanel > p{
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 1.8em;
}

button, input[type="submit"], input[type="reset"] {  /*This is pretty very nice, mmmmhhhh*/
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#btnSlider{
    position: absolute;
    top: calc(50% - 3em);
    left: calc(30vw - 3em);
    border-radius: 100%;
    width: 6em;
    height: 6em;
    background-color: lightgrey;
}

#backdrop{
    width: 100vw;
    height: 100vh;
    background: url(coffee.jpeg), #fffc19;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 35%;
    background-blend-mode: darken;
}

#sites{
    background-color: #ffdf1c;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    padding: 10vw;
}

.site{
    height: 15vh;
    width: 20vw;
    background-color: #8fc93a;
    color: white;
    text-align: center;
    line-height: 15vh;
    vertical-align: middle;
    margin: 1em;
    flex: auto;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 600px){
    #sidePanel{
        position: initial;
        width: 100%;
    }

    #btnSlider{
        display: none;
    }
    
    #backdrop{
        display: none;
    }
}
